a {
    text-decoration: none;
    color: #8E102C;
}

a.headerLinkActive {
    text-decoration: underline;
}

.header {
    margin-top: 20px;
    margin-left: 20px;
}

.logo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    font-weight: 400;
    display: inline-block;
    text-align: left;
}

.logoLower {
    font-size: 26px;
}

.links {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    position: absolute;
    left: 250px;
    top: 25px;
}

.links a {
    margin-right: 20px;
}

.username {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    position: absolute;
    right: 30px;
    top: 25px;
}

.log-out-btn {
    margin-left: 20px;
}

.login {
    height: 125px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    margin-top: 40px;
}

.login .label {
    margin-top: 15px;
    /*position: absolute;*/
}

.login input {
    /*position: absolute;*/
    /*right: 0px;*/
    margin-left: 20px;
}

.login button.label {
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -25px;
}

.intro {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    text-align: center;
}

.intro div {
    margin-top: 40px;
}

.product-tree {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.product-detail {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.request-qty {
    margin-left: 20px;
}

table.bids {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

table .number {
    text-align: right;
}

table.bids .header {
    width: 150px;
    text-align: right;
}