html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    /*border: 1px solid red;*/
}

a {
    text-decoration: none;
    color: rgb(114,188,43);
}

a.headerLinkActive {
    text-decoration: underline;
}

.clear-float {
    clear: both;
}

/*http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/*/
.col-left {
    width: 50%;
    float: left;
    position: relative;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
}

.col-left img {
    padding-right: 100px;
}

.col-right {
    width: 50%;
    float: right;
    position: relative;
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
}

.col-right img {
    padding-left: 100px;
}

#header {
    /*height: 350px;*/
}

/*from http://stackoverflow.com/questions/4183948/css-set-background-image-with-opacity*/
/*negative margin top scrolls photo off top of window, once size is determined, image file should be cropped*/
/*with width at 100%, in Google inspector sometimes the image loses height, why?*/
#background {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    margin-top: -100px;
    left: 0;
    background-image: url('/images/medicalScene.jpg');
    background-size: cover;
    width: 100%;
    height: 600px;
    opacity : 0.5;
    z-index: -1;
}

#header .nav-desktop {
    height: 79px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.intro {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Titillium Web', "lucida grande", sans-serif;
    font-size: 34px;
    text-align: center;
}

.intro .headline {
    font-size: 36px;
    padding-top: 20px;
    text-align: center;
}

.intro .body {
    font-size: 16px;
    text-align: center;
    max-width: 480px;
    margin: 0 auto;
}

.intro #main-image {
    opacity: 0.9;
    width: 100%
}

.intro section {
}

.intro section .first {
}

.intro .oddRow {
}

.intro .section-head {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: .5em;
}

.intro .section-body {
    font-size: 16px;
}

.intro .steps {
    height: 230px;
}

.intro div {
}

.links {
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    /*position: absolute;*/
    top: 60px;
}

.links a {
    margin-right: 20px;
}

.links .label {
    font-size: 16px;
}

.logo {
}

.logoLower {
    font-size: 26px;
}

.main {
    background-color: #f3f7ed;
    margin: 350px auto 0 auto;
}

#catalog {
    margin: 80px auto 0 auto;
}

.title {
    font-family: 'Titillium Web';
    font-size: 22px;
    text-align: center;
}

#bid-requests {
    margin: 80px auto 0 auto;
}

#bids {
    margin: 80px auto 0 auto;
}

#main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: rgba(256,256,256,0.9);
}

#main-nav .links {
    font-family: 'Titillium Web', "lucida grande", sans-serif;
    font-size: 24px;
    /*text-align: right;*/
}

#main-nav .page-links {
    float: right;
    font-family: 'Titillium Web', "lucida grande", sans-serif;
    font-size: 24px;
    margin: 34px 390px 0px 0px;
}

.page-links a {
    margin-left: 25px;
}

#main-nav .signin {
    font-family: 'Titillium Web', "lucida grande", sans-serif;
    margin-top: 10px;
    position: absolute;
    right: 20px;
    text-align: right;
}

#main-nav .signin button {
    font-size: 24px;
}


#main-nav .signin button.log-out-btn {
    font-size: 16px;
}


#main-nav .signin input {
    font-family: inherit;
    margin-left: 5px;
}

#main-nav .signin button {
    font-family: inherit;
}

.username {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    right: 30px;
    top: 25px;
}

.log-out-btn {
    margin-left: 20px;
}

.login {
    height: 125px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 22px;
    /*position: absolute;*/
    left: 50%;
    margin-left: -100px;
    margin-top: 40px;
}

.login .label {
    margin-top: 15px;
    /*position: absolute;*/
}

.login input {
    /*position: absolute;*/
    /*right: 0px;*/
    margin-left: 20px;
}

.login button.label {
    /*position: absolute;*/
    bottom: 0px;
    left: 50%;
    margin-left: -25px;
}

.product-tree {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.product-detail {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.request-qty {
    margin-left: 20px;
}

table.bids {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    margin: 20px auto 0 auto;
}

table .number {
    text-align: right;
}

table.bids .header {
    width: 150px;
    text-align: right;
}